#top {
    width: 800px;
    background-color: #dcc9f4;
    padding: 20px 0px 10px 0px;
    margin: 0 auto;
    text-align: center;
}
.top-child {
    width: 20%;
    background-color: #ffd9df;
    display: inline-block;
}
#middle {
    width: 800px;
    height: 800px;
    position: relative;
    margin: 20px auto 20px auto;
    background-color: #ffd9df;
}
#middle-child01,
#middle-child02,
#middle-child03 {
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #87ceeb;
}
#middle-child01 {
    top: 100px;
    left: 100px;
}
#middle-child02 {
    top: 300px;
    left: 300px;
}
#middle-child03 {
    top: 500px;
    left: 500px;
}
#bottom {
    width: 800px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    background-color: #87ceeb;
}
#bottom-child01,
#bottom-child02,
#bottom-child03 {
    width: 400px;
    height: 100px;
    position: absolute;
    background-color: #e5dcf0;
}
#bottom-child01 {
    top: 0px;
    left: 0px;
}
#bottom-child02 {
    top: 100px;
    left: 200px;
}
#bottom-child03 {
    top: 200px;
    left: 400px;
}
